body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:71px;
  width:204px;
  height:30px;
  display:flex;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:818px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:868px;
  width:396px;
  height:51px;
  display:flex;
}
#u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:118px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:123px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:123px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:173px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:148px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:148px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u903 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:209px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:214px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u905 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:214px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u906 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:264px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u907 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:239px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:239px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:300px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:305px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:305px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:355px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u913 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:330px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u914 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:330px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:391px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:396px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:396px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:446px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:421px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u920 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:421px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:482px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:487px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:487px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u924 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:537px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:512px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:512px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:81px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:573px;
  width:396px;
  height:81px;
  display:flex;
  color:#AAAAAA;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:578px;
  width:185px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:578px;
  width:190px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:628px;
  width:172px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:right;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:603px;
  width:125px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:603px;
  width:129px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:71px;
  width:25px;
  height:25px;
  display:flex;
}
#u934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:66px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:673px;
  width:23px;
  height:15px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u937.mouseOver {
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:673px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u938_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u938.mouseOver {
}
#u938_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u938.selected {
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:673px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u939_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u939.mouseOver {
}
#u939_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u939.selected {
}
#u939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:673px;
  width:14px;
  height:15px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u940_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u940.mouseOver {
}
#u940_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u940.selected {
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:673px;
  width:23px;
  height:15px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u941_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#000000;
}
#u941.mouseOver {
}
#u941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
