body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:71px;
  width:179px;
  height:30px;
  display:flex;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:824px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:874px;
  width:396px;
  height:51px;
  display:flex;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u730 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir', sans-serif;
  font-style:normal;
  text-align:right;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:182px;
  width:388px;
  height:161px;
  display:flex;
  font-family:'Vazir', sans-serif;
  font-style:normal;
  text-align:right;
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:824px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:109px;
  width:50px;
  height:50px;
  display:flex;
}
#u733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'B Nazanin Bold', 'B Nazanin Regular', 'B Nazanin', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u734_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  padding:2px 2px 2px 2px;
  font-family:'B Nazanin Bold', 'B Nazanin Regular', 'B Nazanin', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#555555;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Nazanin Bold', 'B Nazanin Regular', 'B Nazanin', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:366px;
  width:380px;
  height:37px;
  display:flex;
  font-family:'B Nazanin Bold', 'B Nazanin Regular', 'B Nazanin', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u734 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u734_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Nazanin Bold', 'B Nazanin Regular', 'B Nazanin', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u734.disabled {
}
.u734_input_option {
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:262px;
  padding:2px 2px 2px 2px;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u735_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:262px;
  padding:2px 2px 2px 2px;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:413px;
  width:380px;
  height:262px;
  display:flex;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u735_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:262px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u735.disabled {
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:78px;
  width:25px;
  height:25px;
  display:flex;
}
#u736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:103px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
