body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:62px;
  display:flex;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:78px;
  width:1181px;
  height:114px;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:57px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:70px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:57px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:0px;
  width:125px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:57px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:0px;
  width:70px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:57px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:0px;
  width:40px;
  height:57px;
  display:flex;
  font-family:'Yekan Bakh FaNum ExtraBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:10px;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:57px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:57px;
  width:125px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:57px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:57px;
  width:40px;
  height:30px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:87px;
  width:70px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:87px;
  width:125px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:87px;
  width:70px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:27px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:87px;
  width:40px;
  height:27px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#555555;
  text-align:right;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:15px;
  width:324px;
  height:42px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#555555;
  text-align:right;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:141px;
  width:32px;
  height:17px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1411 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:141px;
  width:32px;
  height:17px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1412 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:141px;
  width:32px;
  height:17px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#555555;
  text-align:center;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:8px;
  width:150px;
  height:47px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
