body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:71px;
  width:168px;
  height:30px;
  display:flex;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:824px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A30014;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:874px;
  width:396px;
  height:51px;
  display:flex;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:182px;
  width:396px;
  height:65px;
  display:flex;
  font-family:'B Nazanin', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:824px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRNazli', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
  text-align:right;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:319px;
  width:396px;
  height:370px;
  display:flex;
  font-family:'IRNazli', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#AAAAAA;
  text-align:right;
}
#u715 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u717_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u717_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:268px;
  width:396px;
  height:40px;
  display:flex;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u717_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u717.focused {
}
#u717_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak Bold', 'IRKoodak Regular', 'IRKoodak', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#8C8C8C;
}
#u717.disabled {
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:280px;
  width:17px;
  height:15px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  display:flex;
  text-align:left;
}
.u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
.u720_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u720.mouseOver {
}
.u720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u719-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:50px;
}
#u719-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:396px;
  height:50px;
}
#u719-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:396px;
  height:50px;
}
#u719-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:396px;
  height:50px;
}
#u719-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:396px;
  height:50px;
}
#u719-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:396px;
  height:50px;
}
#u719-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:396px;
  height:50px;
}
#u719-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:396px;
  height:50px;
}
#u719-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:396px;
  height:50px;
}
#u719-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:396px;
  height:50px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:308px;
  width:396px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:282px;
  width:14px;
  height:12px;
  display:flex;
  color:#8C8C8C;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u721_img.mouseOver {
}
#u721.mouseOver {
}
#u721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:113px;
  width:50px;
  height:40px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:78px;
  width:25px;
  height:25px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:103px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
