body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:71px;
  width:175px;
  height:30px;
  display:flex;
  font-family:'Vazir Bold', 'Vazir Regular', 'Vazir', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:78px;
  width:15px;
  height:15px;
  display:flex;
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:825px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'B Homa', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:875px;
  width:396px;
  height:51px;
  display:flex;
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#A30014;
  text-align:center;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:53px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:278px;
  width:396px;
  height:53px;
  display:flex;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:331px;
  width:396px;
  height:265px;
  visibility:hidden;
}
#u839_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u839_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:9px;
  width:375px;
  height:172px;
  display:flex;
}
#u840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:29px;
  width:154px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:67px;
  width:154px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u842 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:105px;
  width:154px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:29px;
  width:172px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:67px;
  width:172px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:105px;
  width:172px;
  height:16px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:135px;
  width:202px;
  height:32px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:53px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:341px;
  width:396px;
  height:53px;
  display:flex;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:394px;
  width:396px;
  height:265px;
  visibility:hidden;
}
#u850_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:372px;
  height:136px;
  visibility:hidden;
}
#u852_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u852_state0_content {
  left:-1px;
  top:-1px;
}
#u853 label {
  left:0px;
  width:100%;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  height:18px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u853 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 0px 2px;
  box-sizing:border-box;
}
#u853_img.selected {
}
#u853.selected {
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:263px;
  word-wrap:break-word;
  text-transform:none;
}
#u853_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u854 label {
  left:0px;
  width:100%;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:35px;
  width:280px;
  height:18px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 0px 2px;
  box-sizing:border-box;
}
#u854_img.selected {
}
#u854.selected {
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:263px;
  word-wrap:break-word;
  text-transform:none;
}
#u854_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u855 label {
  left:0px;
  width:100%;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:280px;
  height:18px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u855 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 0px 2px;
  box-sizing:border-box;
}
#u855_img.selected {
}
#u855.selected {
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:263px;
  word-wrap:break-word;
  text-transform:none;
}
#u855_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u856 label {
  left:0px;
  width:100%;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:85px;
  width:280px;
  height:18px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u856 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 0px 2px;
  box-sizing:border-box;
}
#u856_img.selected {
}
#u856.selected {
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:263px;
  word-wrap:break-word;
  text-transform:none;
}
#u856_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u857 label {
  left:0px;
  width:100%;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:13px;
  height:13px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:110px;
  width:280px;
  height:18px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u857 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 0px 2px;
  box-sizing:border-box;
}
#u857_img.selected {
}
#u857.selected {
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:263px;
  word-wrap:break-word;
  text-transform:none;
}
#u857_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
.u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
.u860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:23px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:34px;
  width:10px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:18px;
  width:372px;
  height:40px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u862_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
}
#u862.focused {
}
#u862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:53px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:210px;
  width:396px;
  height:53px;
  display:flex;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:263px;
  width:396px;
  height:401px;
  visibility:hidden;
}
#u865_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:401px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:178px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:382px;
  height:178px;
  display:flex;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:22px;
  width:216px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:55px;
  width:355px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u868 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:90px;
  width:252px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#B8741A;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:20px;
  width:94px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#B8741A;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:121px;
  width:252px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:178px;
  background:inherit;
  background-color:rgba(2, 131, 15, 0.0705882352941176);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 131, 15, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:198px;
  width:382px;
  height:178px;
  display:flex;
}
#u872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:211px;
  width:211px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u873 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:243px;
  width:355px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:right;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:277px;
  width:260px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02830F;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:213px;
  width:46px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02830F;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:309px;
  width:260px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:151px;
  width:95px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:343px;
  width:90px;
  height:17px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:457px;
  width:396px;
  height:265px;
  visibility:hidden;
}
#u881_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:265px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:129px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:73px;
  width:260px;
  height:129px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#8C8C8C;
}
#u883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:63px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:9px;
  width:260px;
  height:63px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:53px;
  background:inherit;
  background-color:rgba(163, 0, 20, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:404px;
  width:396px;
  height:53px;
  display:flex;
  font-family:'IRHoma', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:65px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:131px;
  width:396px;
  height:65px;
  display:flex;
  color:#AAAAAA;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:136px;
  width:144px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:136px;
  width:132px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:166px;
  width:134px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:166px;
  width:126px;
  height:20px;
  display:flex;
  font-family:'IRKoodak', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:71px;
  width:50px;
  height:25px;
  display:flex;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:71px;
  width:25px;
  height:25px;
  display:flex;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(163, 0, 20, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:98px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Vazir', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#A30014;
  text-align:center;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
